@using UnitOfWork.Data.ViewModels;
@model ShoppingCartVM

@{
    ViewData["Title"] = "Shopping cart summary";
}
<style>
    .right {
        text-align: right;
    }
</style>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Cart Summary</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.shoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.products.Title</td>
                        <td class="align-middle">@item.products.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Amount * item.products.Price).ToString("c"))</td>
                        <td class="right">
                            
                            
                            <a  asp-controller="Orders" asp-action="AddItemToShoppingCart"
                           asp-route-id="@item.products.Id" class="btn btn-success">Add Item</a>
                           | 
                            <a  asp-controller="Orders" asp-action="RemoveItemFromShoppingCart"
                           asp-route-id="@item.products.Id" class="btn btn-danger">Remove </a>
                            
                           
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td>
                        

                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td></td>
                    <td>
                    </td>
                    <td class="right">
                        <a class="btn btn-success" asp-action="CompleteOrder">Complete order</a>

                        <br /><br />
                           <div id="paypal-btn"></div>

                    </td>
                </tr>

            </tfoot>



        </table>




    </div>
</div>




@section Scripts{

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
        let _total = @Html.Raw(Model.ShoppingCartTotal);
        paypal.Button.render({
            //Configure environment
            env: 'sandbox',
            client: {
                sandbox: 'AcKRtgL4i68EZ2ZYuYUx3ilihAg2YhL5dtF_m19A8MjBWVOn6ewNS4M_uV8gA3xi98zTcUq38gUHbVFx'
            },
            //Customize button
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,
            //Set up a payment
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },
            //Execute the payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("CompleteOrder", "Orders", new { })';
                    window.location.href = url;
                });
            }
        }, '#paypal-btn')
    </script>
}
