@using UnitOfWork.Data.ViewModels;
@model ShoppingCartVM

@{
    ViewData["Title"] = "Shopping cart summary";
}
<style>
    .right {
        text-align: right;
    }
</style>
    <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/breadcrumbs-bg1.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

       <h2>Shopping Cart</h2>
          
        </div>
      </div><!-- End Breadcrumbs -->

<section1 class="display_plates">
    <div class="container p-2 text-center">
        <div class="col-12 text-center p-1">
            <h2 class="text-primary">Cart Summary</h2>
                    <P class="p2"></P>
                </div>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.shoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.products.Title
                              Items:<br>
                              @item.options1<br>
                              @item.options2<br>
                              @item.options3<br>
                              @item.options4<br>
                              @item.options5<br>
                              @item.options6<br>

                        </td>
                        <td class="align-middle">@item.products.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Amount * item.products.Price).ToString("c"))</td>
                        <td class="right">
                            
                            
                            <a  asp-controller="Orders" asp-action="AddItemToShoppingCart"
                           asp-route-id="@item.products.Id" class="btn btn-success">Add Item</a>
                           | 
                            <a  asp-controller="Orders" asp-action="RemoveItemFromShoppingCart"
                           asp-route-id="@item.products.Id" class="btn btn-danger">Remove </a>
                            
                           
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Total: @Model.GetTotalCartItems</td>
                    <td></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                     
                       
                    </td>
                    <td>
                        

                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td></td>
                    <td>
                    </td>
                    <td class="right">
                        <a class="btn btn-success" asp-controller="Orders" asp-action="CheckOut">  > Proceed to Checkout  </a>

                        <br /><br />
                           <div id="paypal-btn"></div>

                    </td>
                </tr>

            </tfoot>



        </table>




    </div>
</div>

</div>
</section1>


@section Scripts{

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
        let _total = @Html.Raw(Model.ShoppingCartTotal);
        paypal.Button.render({
            //Configure environment
            env: 'sandbox',
            client: {
                sandbox: 'AcKRtgL4i68EZ2ZYuYUx3ilihAg2YhL5dtF_m19A8MjBWVOn6ewNS4M_uV8gA3xi98zTcUq38gUHbVFx'
            },
            //Customize button
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,
            //Set up a payment
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },
            //Execute the payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    var url = '@Url.Action("CompleteOrder", "Orders", new { })';
                    window.location.href = url;
                });
            }
        }, '#paypal-btn')
    </script>
}
