@model UnitOfWork.Models.Products

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YesNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YesNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option6)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
