@model UnitOfWork.Models.Orders

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ccc_name_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ccc_name_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ccc_number_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ccc_number_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expiration_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expiration_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cvv_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cvv_o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingCartIdCustomer_o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoppingCartIdCustomer_o)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
