@model IEnumerable<UnitOfWork.Models.OrdersViewModel>
@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
     Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    body {
        font-size: 12px;
    }

    .table thead th {
        color: #000000;
        vertical-align: bottom;
        border-bottom: 1px solid #dee2e6;
    }
     .dataTables_wrapper  .dataTables_filter input {
     
    width: 300px !important;
    border: 1px solid !important;
     }
</style>




<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Order ID#
            </th>
            <th>
               Name
            </th>
            <th>
               Last Name
            </th>
            <th>
               Street
            </th>
            <th>
                Zip Code
            </th>
            <th>
                TotalAmount
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>


 
    @foreach (var item in Model)
    {
        <tr>
            <td>#00000-00 @item.orders.Id </td>

            <td>@item.orders.FirstName_o </td>
            <td>@item.orders.LastName_o</td>
            <td>@item.orders.Street_o</td>
            <td>@item.orders.ZipCode_o</td>
            <td>@item.orderedItems.Qty_o</td>
            <td>@item.orders.TotalAmount</td>

            <td> <a asp-action="OrderDetails" asp-route-id="@item.orders.ShoppingCartIdCustomer_o" class="btn btn-primary btn-sm">Order Detail</a></td>
        </tr>
    }
    </table>
