 @using UnitOfWork.Models
 @model DisplayViews



@{
    ViewData["Title"] = "@Model.singlecategory.Name";
}

    <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

       <h2>@Model.singlecategory.Name</h2>
          <ol>
            <li><a href="index.html">@Model.singlecategory.Name</a></li>
            <li>Choose One</li>
          </ol>
  
        </div>
      </div><!-- End Breadcrumbs -->

 <section class="display_plates">
    <div class="container  text-center">
        <div class="row">
                <div class="col-12 text-center">
                          
                    <span class="colorh1"> </span>
            
                    <P class="p2">If you are looking for a restaurant to host your next event or party, then check out our fantastic banquet rooms at Buca.
                         Our fun and festive semi-private dining rooms are uniquely decorated, comfortable, and inviting, making Broccli's in Dallas, TX the perfect place for hosting a large banquet or an intimate gathering.</P>
                </div>
            @foreach (Products item in Model.Products)
            {


                  <div class="col-lg-3 col-sm-6 mb5 p-4">
                    <H3 class="text-primary">@item.Title</H3>
                    <div class="card product-card">

                        <div class="product-img">
                            
                         <div class="figure">
                        <a asp-action="ProductDetail" asp-route-id="@item.Id" asp-route-slug="@item.slug">
                                    <img class="card-img-top" src="~/images/mainPizza.jpg" alt="@item.Title" />
                       
                        </a>
                         </div>

                                <div class="card-body">
                                    <div class="float-start"><span class="special">SPECIAL PRICE :</span>  </div>
                                <div class="float-end"><h5 class="text-primary"> @item.Price.ToString("c") </h5> </div><br>
                                

                                </div>
                            <span class="includes">** Includes shipping **</span>
                        </div>
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"></div>
                  </div>
                    </div>
                  </div>

            }


        </div>
    </div>
</section>