@model DisplayViews

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .img-fluid {
        max-width: 100%;
        height: revert-layer !important;
    }
</style>

<!--// banner corousel  -->

<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<section id="hero" class="hero">

    <div class="info d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 data-aos="fade-down">Welcome to <span class="text-primary">LastOrder</span>.</h2>
                    <p data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
                </div>
            </div>
        </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active" style="background-image: url(assets/hero-carousel/hero-1.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/hero-carousel/hero-2.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/hero-carousel/hero-3.jpg)"></div>
        <div class="carousel-item" style="background-image: url(assets/hero-carousel/hero-4.jpg)"></div>


        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>

</section><!-- End Hero Section -->
<!-- <section> begin ============================-->
<section class="py-0 mt-5">
    <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
        <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">Our Categories of Products</h5>
    </div>
    <div class="container">
        <div class="row h-100 gx-2 mt-7">
            

             @foreach(Category category in Model.categories)
            {

            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                <div class="card card-span h-100">
                    <div class="position-relative">
                           <a asp-action="DisplayFullCategory" asp-route-id="@category.Id" asp-route-slug="@category.slug">

                                @if (category.ImageCategoryA == null)
                                {
                                    <img class="img-fluid rounded-3 w-100" src="/images/empty.jpg" width="382px" height="323px" />
                                }
                                else
                                {
                                    <img class="img-fluid rounded-3 w-100" src="/images/@category.ImageCategoryA" width="383px" height="323px" />
                                }

                           </a>
                   
                        
                        
                        
                        
                        
                        <div class="card-actions">
                            <div class="badge badge-foodwagon bg-primary p-4">
                                <div class="d-flex flex-between-center">
                                         
                                        <div class="text-white fs-2">Specials 5%</div>
                                    <div class="d-block  text-white fs-2">
                                          <br />
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0">
                        <h5 class="fw-bold text-1000 text-truncate text-center fs-3">
                               <a asp-action="DisplayFullCategory" asp-route-id="@category.Id" asp-route-slug="@category.slug">  @category.Name</a>
                       </h5>
                        </div><a class="stretched-link" asp-action="DisplayFullCategory" asp-route-id="@category.Id" asp-route-slug="@category.slug"></a>
                </div>
            </div>
            }



             
        </div>
    </div><!-- end of .container-->
</section>
<!--display info -->

<section class="py-0 bg-primary-gradient">

    <div class="container">
        <div class="row justify-content-center g-0">
            <div class="col-xl-9">
                <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
                    <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">How does it work</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 mb-6">
                        <div class="text-center">
                            <img class="shadow-icon" src="assets/img/gallery/location.png" height="112" alt="...">
                            <h5 class="mt-4 fw-bold">Select location</h5>
                            <p class="mb-md-0">Choose the location where your food will be delivered.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-6">
                        <div class="text-center">
                            <img class="shadow-icon" src="assets/img/gallery/order.png" height="112" alt="...">
                            <h5 class="mt-4 fw-bold">Choose order</h5>
                            <p class="mb-md-0">Check over hundreds of menus to pick your favorite food</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-6">
                        <div class="text-center">
                            <img class="shadow-icon" src="assets/img/gallery/pay.png" height="112" alt="...">
                            <h5 class="mt-4 fw-bold">Pay advanced</h5>
                            <p class="mb-md-0">It's quick, safe, and simple. Select several methods of payment</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-6">
                        <div class="text-center">
                            <img class="shadow-icon" src="assets/img/gallery/meals.png" height="112" alt="...">
                            <h5 class="mt-4 fw-bold">Enjoy meals</h5>
                            <p class="mb-md-0">Food is made and delivered directly to your home.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--end display info -->
<!---display -->
<!-- <section> begin ============================-->
<section class="py-0 mt-5">
    <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
        <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">Our Products to Order</h5>
    </div>
    <div class="container">
        <div class="row h-100 gx-2 mt-7">
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                <div class="card card-span h-100">
                    <div class="position-relative">
                        <a href="#"> <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-1.png" alt="..." /></a>
                        <div class="card-actionsb">
                            <div class="p-4">
                                <a href="#">LUIS MALNATIS CRUSTLESS</a>
                                Price $25
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                <div class="card card-span h-100">
                    <div class="position-relative">
                        <a href="#"> <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-2.png" alt="..." /></a>
                        <div class="card-actionsb">
                            <div class="p-4">
                                <a href="#"> LUIS MALNATIS CRUSTLESS</a>

                                Price $25
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                <div class="card card-span h-100">
                    <div class="position-relative">
                        <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-3.png" alt="..." />
                        <div class="card-actionsb">
                            <div class="p-4">
                                <a href="#"> LUIS MALNATIS CRUSTLESS</a>

                                Price $25
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                <div class="card card-span h-100">
                    <div class="position-relative">
                        <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-4.png" alt="..." />
                        <div class="card-actionsb">
                            <div class="p-4">
                                <a href="#"> LUIS MALNATIS CRUSTLESS</a>

                                Price $25
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- end of .container-->

    <div class="container">
        <div class="row h-100 gx-2 mt-7">
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                <div class="card card-span h-100">
                    <div class="position-relative">
                        <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-1.png" alt="..." />
                        <div class="card-actions">
                            <div class="badge badge-foodwagon  p-4">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                <div class="card card-span h-100">
                    <div class="position-relative">
                        <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-2.png" alt="..." />
                        <div class="card-actions">
                            <div class="badge badge-foodwagon p-4">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                <div class="card card-span h-100">
                    <div class="position-relative">
                        <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-3.png" alt="..." />
                        <div class="card-actions">
                            <div class="badge badge-foodwagon  p-4">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
                <div class="card card-span h-100">
                    <div class="position-relative">
                        <img class="img-fluid rounded-3 w-100" src="assets/img/gallery/discount-item-4.png" alt="..." />
                        <div class="card-actions">
                            <div class="badge badge-foodwagon  p-4">
                                <div class="d-flex flex-between-center">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- end of .container-->




</section>



 