@model UnitOfWork.Models.Products

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>@Model.Title</h2>
         

    </div>
</div><!-- End Breadcrumbs -->

<form asp-controller="Orders" asp-action="AddItemToShoppingCartA" id="myform2">
     <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="Title" value="@Model.Title" />
    

<section class="display_platesa">
    <div class="container  text-center">

        <div class="row">


               <div class="col-12 text-center">
                          
                    <h3 class="text-primary"><u>@Model.Title </u> </h3>
            
                    <P class="p2">If you are looking for a restaurant to host your next event or party, then check out our fantastic banquet rooms at Buca.
                         Our fun and festive semi-private dining rooms are uniquely decorated, comfortable, and inviting, making Broccli's in Dallas, TX the perfect place for hosting a large banquet or an intimate gathering.</P>
                </div>


            <div class="col">
                <div class="product-img">
                   
                        <img class="card-img-top rounded-xl" src="~/images/mainPizza.jpg" alt="@Model.Title" />

                </div>

                
            </div>
            <div class="col">
                <span class="colorh1"> @Model.Title</span>
                <div style="display:block"></div>
                @Model.Description
                    <div style="display:block"><br /></div>


               

                @if (Model.YesNo == 1){


                    
                        <div class="form-group fw-bolder">
                        <label asp-for="@Model.Option1" class="control-label mb-2"></label>
                        <select asp-for="@Model.Option1" class="form-control" asp-items="ViewBag.option11" id="option1">
                            <option value=""> --- Select Option ---</option>
                        </select>
                         @* <span asp-validation-for="@Model.Option1" class="text-danger"></span>*@
                            <span id="error_Option1" class="text-danger"></span>
                    </div>

                        <div class="form-group fw-bolder">
                            <label asp-for="@Model.Option2" class="control-label  mb-2"></label>
                            <select asp-for="@Model.Option2" class="form-control" asp-items="ViewBag.option22" id="option2">
                            <option value=""> --- Select Option ---</option>
                        </select>
                       @* <span asp-validation-for="@Model.Option2" class="text-danger"></span>*@
                            <span id="error_Option2" class="text-danger"></span>
                    </div>

                        <div class="form-group fw-bolder">
                            <label asp-for="@Model.Option3" class="control-label  mb-2"></label>
                            <select asp-for="@Model.Option3" class="form-control" asp-items="ViewBag.option33" id="option3">
                            <option value=""> --- Select Option ---</option>
                        </select>
                        @*<span asp-validation-for="@Model.Option3" class="text-danger"></span>*@
                            <span id="error_Option3" class="text-danger"></span>
                    </div>

                        <div class="form-group fw-bolder">
                            <label asp-for="@Model.Option4" class="control-label  mb-2"></label>
                            <select asp-for="@Model.Option4" class="form-control" asp-items="ViewBag.option44" id="option4">
                            <option value=""> --- Select Option ---</option>
                        </select>
                            <span id="error_Option4" class="text-danger"></span>
                    </div>

                        <div class="form-group fw-bolder">
                            <label asp-for="@Model.Option5" class="control-label mb-2"></label>
                            <select asp-for="@Model.Option5" class="form-control" asp-items="ViewBag.option55" id="option5">
                            <option value=""> --- Select Option ---</option>
                        </select>
                            <span id="error_Option5" class="text-danger"></span>
                    </div>
                        <div class="form-group mb-4 fw-bolder">
                            <label asp-for="@Model.Option6" class="control-label  mb-2"></label>
                            <select asp-for="@Model.Option6" class="form-control" asp-items="ViewBag.option66" id="option6">
                            <option value=""> --- Select Option ---</option>
                        </select>
                            <span id="error_Option6" class="text-danger"></span>
                    </div>

                      <div class="form-group mt-4">
                        QTY : 
                            <select name="qty" class="fw-bolder">
                              
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>

                        </select>
                      </div>
            
                   }else{
                       <br />
                       <span>UPS!</span>
                       <br />
                }
                    <div class="form-group mt-4">
                    <input type="submit" value="NewOrder" id="validateOrder" class="btn btn-success float-right" />
                    </div>

</form>




               
            </div>

             
        </div>
   </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/validate.js" asp-append-version="true"></script>

